/* 工具页面将布局从表格修改为列表，以至于能够展示足够长的描述。 */
.page-template-container .tools-nav-box .tool-item-list {
    display: table-column;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
/* 深色模式 */
.dark-mode {
    --background-color-1: #222222;
    --background-color-2: #222222;
    --background-color-3: #222222;
    --content-background-color: #222222;
    --scrollbar-color: #badc58;
    --scrollbar-background-color: #222222;
}
/* 工具页面左侧标题列表拥有更长的显示宽度 */
.page-template-container .tools-nav-box .tools-nav-list {
    width: 20rem;
    margin-right: 0.5rem;
}
/* _posts左侧标题列表拥有更长的显示宽度 */
.post-toc-wrap {
    width: 20rem;
}